@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

* { margin: 0; padding: 0; -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); }
*::selection { background-color: rgba(1, 207, 228, .4) }
a { text-decoration: none; }
body {
    background-image: url(../img/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    /* background-position: center center; */

    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;

    position: relative;
    width: 100%;
    height: 100lvh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    color: #fff;

}   header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    user-select: none;
    z-index: 10;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    background-color: #0e0e0e;

    a {
        width: auto;
        position: relative;
        margin-left: 20px;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        img {
            width: 50px;
            pointer-events: none;

        }   p {
            font-size: 22px;
            color: #fff;
            

        }

    }

}   main {
    width: 100%;
    user-select: none;
    height: calc(100lvh);
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);

    z-index: 5;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 30px;

    .details {
        width: auto;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 55px;

        }   p {
            font-size: 18px;
        }

    }   .countdown {
        width: auto;
        height: auto;

        overflow: hidden;

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;

        gap: 10px;
        transition: transform .3s ease-out;
        transition: .3s ease-out;

        span {
            width: 60px;
            height: 60px;
            background-color: rgb(255, 255, 255);
            backdrop-filter: blur(10px);
            border-radius: 5px;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;

            transform: scale(0.5) rotateZ(180deg);
            transition: .3s ease-out;

            p.t {
                font-size: 30px;
                user-select: none;

            }   p.desc {
                font-size: 0px;
                user-select: none;

            }
        }

    }   .countdown.start {
        span {
            background-color: rgba(255, 255, 255, 0.3);
            transform: scale(1) rotateZ(0deg);

            p.desc {
                font-size: 13px;
            }
        }

    }   .contact {
        position: relative;
        width: auto;
        height: 50px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

        padding-top: 20px;

        a {
            color: #fff;
            transition: .3s ease-out;

            &:hover {
                transform: scale(1.25);

            }   img {
                width: 30px;

            }   img.lichess {
                border-radius: 50%;
            }

        }   &::after {
            content: "";
            position: absolute;

            top: 0;
            left: 12.5%;
            width: 75%;
            height: 2px;
            border-radius: 50px;
            background-color: #fff;
        }
    }

}

@media only screen and (max-width: 425px) {
    main .details {
        h2 {
            font-size: 40px;

        }   p {
            font-size: 13px;
        }
    }
}

@media only screen and (max-width: 300px) {
    main .details {
        h2 {
            font-size: 30px;

        }   p {
            font-size: 10px;
        }
    }
}